.form--add-item {
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem;
}

.form--add-item__trigger {
    width: 2rem;
    height: 2rem;
    border: solid $line-size $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $add-item-button-color;

    div {
        background-color: $primary-color;

        &:first-child {
            position: absolute;
            width: 1rem;
            height: $line-size;
        }

        &:last-child {
            width: $line-size;
            height: 1rem;
        }
    }
}

.form--add-item .form {
    border: solid $line-size $primary-color;
    background-color: $background-color;
    padding: 1rem;
}

.form__label {
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.2rem;
}

.form__field {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    background-color: $form-field-background;
    color: $form-field-text-color;
    border: none;
    border-radius: 0;
    padding: 0.3rem 0.5rem;
}

.button__container {
    margin-top: 0.2rem;
}

.button {
    border: 0;
    border-radius: 0;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-right: 0.6rem;
    font-weight: bold;
    background-color: $form-field-background;
}

.button--primary {
    background-color: $primary-color;
    color: $primary-button-text-color;
}
