.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $background-color, $alpha: 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    border: solid $line-size $primary-color;
    background-color: $background-color;
    padding: 0.8rem;

    p {
        margin-top: 0;
    }
}
