$primary-color: #970000;
$secondary-color: #fee632;
$background-color: #0d1117;
$line-size: 0.3rem;
$light-border: #2e2e2e;
$text-color: white;
$form-field-background: #c5c5c5;

$primary-button-text-color: $text-color;
$form-field-text-color: black;
$add-item-button-color: $text-color;
