$primary-color: #970000;
$secondary-color: #fee632;
$background-color: #eaeaef;
$line-size: 0.3rem;
$light-border: #dddddd;
$text-color: black;
$form-field-background: #c5c5c5;

$primary-button-text-color: $background-color;
$form-field-text-color: $text-color;
$add-item-button-color: $background-color;
