.banner {
    color: $background-color;
}

.login {
    background-color: $background-color;
    color: $primary-color;
}

.hamburger {
    div {
        background-color: $primary-color;
    }
}

.aside__menu {
    background-color: $background-color;
}

.aside__menu__item {
    color: $primary-color;
    border-top: 1px solid $light-border;
    color: $text-color;
}
