<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <title>SubZero</title>
        <meta name="description" content="Kitchen Tools" />
        <base href="/" />
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <link rel="manifest" href="/manifest.json" />
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <% js.forEach(function(bundle){ %>
        <script src="/<%= bundle %>"></script>
        <% }); %> <% css.forEach(function(bundle){ %>
        <link rel="stylesheet" type="text/css" href="/<%= bundle %>" />
        <% }); %>
    </body>
</html>
