html {
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

html,
body,
div,
section,
button,
input {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    background: $background-color url('../images/dot.svg') repeat-y center
        center;
    background-size: $line-size;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: $text-color;
}

.wrapper--public {
    padding-top: 0;
}

@import 'header';
@import 'timeline';
@import 'form';
@import 'remove-popup';
