.input__wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1.5rem;
}

.input__button {
    width: 2rem;
    height: 2rem;
    border: solid $line-size $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
}

.input__button__icon {
    background-color: $primary-color;

    &:first-child {
        position: absolute;
        width: 1.2rem;
        height: $line-size;
    }

    &:last-child {
        width: $line-size;
        height: 1.2rem;
    }
}

.input {
    border: solid $line-size $primary-color;
    background-color: white;
    padding: 1rem;

    label {
        font-size: 0.7rem;
        display: block;
    }

    .input__field {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }
}

.input__cancel,
.input__execution {
    border: 0;
    border-radius: 0;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-right: 0.6rem;
    font-weight: bold;
}

.input__execution {
    background-color: $primary-color;
    color: white;
}
