@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$primary-color: #970000;
$background-color: #eaeaef;
$line-size: 0.3rem;
$light-border: #dddddd;
$text-color: black;
$form-field-background: #c5c5c5;

$primary-button-text-color: $background-color;
$form-field-text-color: $text-color;

@import 'base';
