.timeline__item {
    display: grid;
    grid-template-columns: calc(50vw - 1.5rem) 3rem calc(50vw - 1.5rem);
    align-items: center;
    margin-top: 1rem;
    grid-template-areas: 'title button expiration';

    .timeline__item--title {
        text-align: right;
        margin: 0 0.6rem 0 0;
    }
    .timeline__item--expiration {
        text-align: left;
        margin: 0 0 0 0.6rem;
    }
}

.timeline__item--even {
    grid-template-areas: 'expiration button title';

    .timeline__item--title {
        text-align: left;
        margin: 0 0 0 0.6rem;
    }
    .timeline__item--expiration {
        text-align: right;
        margin: 0 0.6rem 0 0;
    }
}

.timeline__item--title {
    font-weight: bold;
    grid-area: title;
    background-color: $background-color;
}

.timeline__item--expiration {
    grid-area: expiration;
    background-color: $background-color;
}

.timeline__item--button {
    width: 3rem;
    height: 3rem;
    border: solid $line-size $primary-color;
    border-radius: 3rem;
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    grid-area: button;
    cursor: pointer;
    color: $text-color;
}

.timeline__item--button--hurry {
    color: $primary-color;
}
